
.container {
    max-width: 1024px;
    margin: 0 auto;
    position: relative;
  }
  

  
  /* Задача 5: */ /* Задача 6: */
  .absolute-popup {
    background-color: #ccc;
    min-width: 300px;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .popup-bg {
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 0;
    left: 0;
    width: 100%;
    height: 100vh;
  }
  

  